body{
	background:red;
	font-family:"Times New Roman";
}
#calculator{
	width:1150px;	
	margin:10px auto;
}
#headline{
	width:100%;
	background:rgb(54,64,79);
	color:rgb(255,255,255);
}
#headline h1{
	margin:0px;
	padding:20px 25px;
}
#key h3{
	margin:0px;
	padding:5px;
	background:rgb(224,224,224);
}
#key span{
	display:block;
	font-size:10px;
	text-align:center;
}
#periodTable{
	width:1000px;
	background:rgb(249,249,249);
	float:left;
}
#number{
	background:rgb(249,249,249);
	float:left;
}
#number table{
	margin:60px 20px;
}
#number table td{
	width:50px;
	height:50px;
	background:rgb(230,230,230);
	border:1px solid rgb(0,0,0);
	border-radius:3px;
}
.clear{
	clear:both;
}
#chemElement1{
	width:966px;
	margin:10px 17px;
	float:left;
}
#chemElement2{
	width:966px;
	margin:10px 17px;
	float:left;
}
#chemElement2 table{
	float:right;
}
.otherNonmetal{
	background:rgb(137,195,72);
}
.alkalis{
	background:rgb(253,152,0);
}
.alkalisEarth{
	background:rgb(251,195,10);
}
.transitionMetal{
	background:rgb(197,137,136);
}
.lanthanide{
	background:rgb(251,151,136);
}
.actinide{
	background:rgb(176,161,220);
}
.lateTransition{
	background:rgb(144,164,173);
}
.nonmetal{
	background:rgb(73,183,170);
}
.halogen{
	background:rgb(33,201,212);
}
.nobleGas{
	background:rgb(1,169,242);
}
.blank{
	width:26px;
	height:26px;
}
.group{
	width:50px;
	height:26px;
	line-height:26px;
	background:rgb(224,224,224);
	border:1px solid rgb(224,224,224);
	border-radius:5px;
}
.period{
	width:26px;
	height:50px;
	line-height:50px;
	background:rgb(224,224,224);
	border:1px solid rgb(224,224,224);
	border-radius:5px;
}
.box{
	width:50px;
	height:50px;
	border:1px solid rgb(0,0,0);
	border-radius:3px;
}
.subgroup{
	vertical-align:top;
}
td{
	padding:0px;
	text-align:center;
}
#copyright{
	width:1150px;
	height:30px;
	background:rgb(54,64,79);
	color:rgb(255,255,255);
	text-align:center;
	line-height:30px;
}
.inputs{
	margin-top:30px;
}
#results{
	width:350px;
	height:50px;
	margin:5px auto;
	background:yellow;
}
